confluent-kafka
folium
geopandas
hopsworks==4.1.8
ipywidgets
joblib
lightgbm
matplotlib
mlflow
notebook
numpy==1.24.4
pandas
plotly
pyarrow==19.0.1
python-dotenv
requests
scikit-learn==1.5.2
seaborn
streamlit
setuptools
streamlit-folium
xgboost
wheel
